@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
